* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.boxList {
  display: flex;
  justify-content: center;
  align-items: center;
}

.box {
  width: 420px;
  padding: 30px;
  border: 5px solid #fce8d1;
  overflow: hidden;
  margin-top: 20px;
  text-align: center;
}

.box:first-child {
  margin-right: 20px;
}

.btnList {
  display: flex;
  justify-content: center;
  align-items: center;
}

.btnList button {
  width: 100px;
  height: 40px;
  border: none;
  border-radius: 5px;
  background-color: #fd9b2a;
  color: #fff;
  margin-top: 20px;
  margin-right: 5px;
  cursor: pointer;
}

.btnList button:last-child {
  margin-right: 0;
}

.Win {
  border: 5px solid blue;
}

.Lose {
  border: 5px solid red;
}

